body{
    background-image: url(./v2-4390a48af5903999d073af3b9183bb32_r.jpg);
}
#n1a{
    font-size: 20px;
}
#register{
    width: 401px;
    height: 459px;
    background-color: rgb(38, 89, 201);
  
   float: right ;

}