@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658141944657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangcheng:before {
  content: "\e61f";
}

.icon-ziliaoku:before {
  content: "\e62d";
}

.icon-ziliaoku{
  color: red;
  font-size: 30px;
  float: left;
}
.icon-shangcheng{
  font-size: 30px; 
  color: red;
  float: left;
}
.menu-info{
  float: left;
}
.menu-shopping{
  color: aliceblue;
}
